[user]
    name = Oscar Zhang
    email = oscarzhang228@gmail.com

[push]
    autoSetupRemote = true

[core]
    pager = "delta --side-by-side --paging=never"
    excludesfile = ~/dotfiles/src/git/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    # use n and N to move between diff sections
    navigate = true
    light = true
    plus-style = "syntax #daf7e0"
    plus-emph-style = "syntax #acf2bd"
    minus-style = "syntax #ffeef0"
    minus-emph-style = "syntax #fdb8c0"
    line-numbers-plus-style = "#055d20"
    line-numbers-minus-style = "#a0111f"

[pull]
    rebase = false

[fetch]
    prune = true

[rerere]
    enabled = true

[diff]
    algorithm = histogram

[merge]
    conflictStyle = zdiff3

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://github.gatech.edu"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main

[includeIf "hasconfig:remote.*.url:*drwholdings*/**"]
    path = ~/dotfiles/src/git/.gitconfig-drw
