[user]
    name = Oscar Zhang
    email = oscarzhang228@gmail.com

[push]
    autoSetupRemote = true

[core]
    pager = "delta --side-by-side --paging=never"

[interactive]
    diffFilter = delta --color-only

[delta]
    # use n and N to move between diff sections
    navigate = true
    dark = true

[pull]
    rebase = false

[fetch]
    prune = true

[rerere]
    enabled = true

[diff]
    algorithm = histogram

[merge]
    conflictStyle = zdiff3

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://github.gatech.edu"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main

[includeIf "hasconfig:remote.*.url:*drwholdings*/**"]
    path = ~/dotfiles/src/git/.gitconfig-drw
