/**
 *
 * Colors
 **/

* {
    background:     #24273aFF;
    background-alt: #363a4fFF;
    foreground:     #cad3f5FF;
    selected:       #8aadf4FF;
    active:         #a6da95FF;
    urgent:         #ed8796FF;
}
