/**
 *
 * Colors
 **/

* {
    background:     #f9f5d7FF;
    background-alt: #ebdbb2FF;
    foreground:     #282828FF;
    selected:       #076678FF;
    active:         #67630cFF;
    urgent:         #9d0006FF;
}
