/**
 *
 * Colors
 **/

* {
    background:     #ffffffFF;
    background-alt: #e7ecf0FF;
    foreground:     #010409FF;
    selected:       #0349b4FF;
    active:         #055d20FF;
    urgent:         #d1242fFF;
}
