[user]
    name = Oscar Zhang
    email = oscarzhang228@gmail.com

[push]
    autoSetupRemote = true

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://github.gatech.edu"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
